<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net http://springframework.net/xsd/spring-objects.xsd">


  <!--include BusinessComponent spring.config-->
  <import resource="assembly://DSG.BusinessComponents/DSG.BusinessComponents/BusinessComponents.spring.config"/>

  <object name="welcomeScreenViewModel" type="DSG.Presentation.ViewModel.WelcomeScreenViewModel, DSG.Presentation">
    <property name="NaviService" ref="naviService" />
    <property name="DominionExpansionBc" ref="dominionExpansionBc" />
  </object>
  
  <object name="manageSetsViewModel" type="DSG.Presentation.ViewModel.ManageSetsViewModel, DSG.Presentation">
    <property name="DominionExpansionBc" ref="dominionExpansionBc" />
    <property name="NaviService" ref="naviService" />
  </object>
  
  <object name="manageCardsViewModel" type="DSG.Presentation.ViewModel.ManageCardsViewModel, DSG.Presentation">
    <property name="CostBc" ref="costBc" />
    <property name="CardBc" ref="cardBc" />
  </object>
  
  <object name="generatedSetViewModel" type="DSG.Presentation.ViewModel.Generation.GeneratedSetViewModel, DSG.Presentation">
    <property name="SetGeneratorBc" ref="setGeneratorBc" />
  </object>
  
</objects>