<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net http://springframework.net/xsd/spring-objects.xsd">


  <!--include BusinessEntities spring.config-->
  <import resource="assembly://DSG.BusinessEntities/DSG.BusinessEntities/BusinessEntities.spring.config"/>

  <object name="dominionExpansionDao" type="DSG.DAO.Expansions.DominionExpansionDao, DSG.DAO">
    <property name="Ctx" ref="cardManagementDbContext" />
  </object>

  <object name="cardDao" type="DSG.DAO.Cards.CardDao, DSG.DAO">
    <property name="Ctx" ref="cardManagementDbContext" />
  </object>

  <object name="cardArtifactDao" type="DSG.DAO.CardArtifacts.CardArtifactDao, DSG.DAO">
    <property name="Ctx" ref="cardManagementDbContext" />
  </object>

</objects>