<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net http://springframework.net/xsd/spring-objects.xsd">


  <!--include DAO spring.config-->
  <import resource="assembly://DSG.DAO/DSG.DAO/DAO.spring.config"/>

  <!--include Common spring.config-->
  <import resource="assembly://DSG.Common/DSG.Common/Common.spring.config"/>

  <object name="dominionExpansionBc" type="DSG.BusinessComponents.Expansions.DominionExpansionBc, DSG.BusinessComponents">
    <property name="DominionExpansionDao" ref="dominionExpansionDao" />
  </object>

  <object name="cardBc" type="DSG.BusinessComponents.Cards.CardBc, DSG.BusinessComponents">
    <property name="CardDao" ref="cardDao" />
  </object>

  <object name="cardArtifactBc" type="DSG.BusinessComponents.CardArtifacts.CardArtifactBc, DSG.BusinessComponents">
    <property name="CardArtifactDao" ref="cardArtifactDao" />
  </object>

  <object name="setGeneratorBc" type="DSG.BusinessComponents.Generation.SetGeneratorBc, DSG.BusinessComponents">
    <property name="GetIntByProbabilityBc" ref="getIntByProbabilityBc" />
    <property name="ShuffleListBc" ref="shuffleListBc" />
    <property name="RandomProvider" ref="randomProvider" />
  </object>
  
  <object name="getIntByProbabilityBc" type="DSG.BusinessComponents.Probabilities.GetIntByProbabilityBc, DSG.BusinessComponents">
    <property name="Random" ref="randomProvider" />
  </object>
  
  <object name="shuffleListBc" type="DSG.BusinessComponents.Probabilities.ShuffleListBc&lt;DSG.BusinessEntities.Card>, DSG.BusinessComponents">
    <property name="Random" ref="randomProvider" />
  </object>

</objects>